<script src="../app.component.ts"></script><h2>Product details</h2>

<div *ngIf="product">
  <h3>{{product.name}}</h3>
  <h4>{{product.price | currency:'EUR' }}</h4>
  <h3>{{product.description}}</h3>
</div>
